@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #2a2672, #4A468F, #876bce);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    max-width: 720px;
    min-width: 376px;
    max-height: 100vh;
    padding: 20px;
    color: #ffffff;
    font: normal 1rem 'Roboto Mono', monospace;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ad3939;
    line-height: 1.25;
    font: 2.2rem 'Rampart One', cursive;;
    font-weight: 600;
    text-shadow: 3px 3px 7px #000000;
}

header > div {
    text-align: center;
}

.picture {
    margin: 20px 0;
}

.info {
    margin-top: 10px;
}

p {
    line-height: 1.25;
}

.name,
.title {
    text-shadow: 2px 2px 3px #000000;
}

.name {
    font-size: 1.8rem;
}

.title  {
    color: #fbff00;
}

ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul, li {
    list-style: none;
}

li {
    border: 1px solid #ad3939;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #000000;
    background-color: #ad3939;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 2px 2px 3px #000000;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: chartreuse;
}

li:hover {
    background-color: rgb(5, 5, 41);
    color: chartreuse;
}

span > img {
    width: 1.6rem;
}

footer {
    margin-top: 20px;
    text-align: center;
    color:#000000;
    font-weight: 300;
}